USE [master]
GO
/****** Object:  Database [CateringAgency]    Script Date: 9.6.2026. 20:27:21 ******/
CREATE DATABASE [CateringAgency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CateringAgency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CateringAgency.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CateringAgency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CateringAgency_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CateringAgency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CateringAgency]
GO
/****** Object:  Table [dbo].[combo_menu]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[combo_menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[discount_percent] [float] NOT NULL,
	[is_visible] [bit] NOT NULL,
	[price] [float] NOT NULL,
	[image_path] [nvarchar](300) NULL,
 CONSTRAINT [PK_combo_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[combo_menu_item]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[combo_menu_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[food_id] [int] NOT NULL,
	[combo_menu_id] [int] NOT NULL,
	[amount] [int] NOT NULL,
 CONSTRAINT [PK_combo_menu_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery_method]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery_method](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_delivery_method] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[unit_of_measurement] [nvarchar](20) NULL,
	[food_category_id] [int] NOT NULL,
	[is_visible] [bit] NOT NULL,
	[ingredients] [nvarchar](max) NULL,
	[price] [float] NOT NULL,
	[discount_percent] [float] NOT NULL,
	[image_path] [nvarchar](300) NULL,
 CONSTRAINT [PK_food] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_category]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_category](
	[id] [int] IDENTITY(10,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[discount_percent] [float] NOT NULL,
 CONSTRAINT [PK_food_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[date_created] [datetime] NOT NULL,
	[date_completed] [datetime] NULL,
	[delivery_location] [nvarchar](100) NULL,
	[price] [float] NOT NULL,
	[price_with_discount] [float] NULL,
	[is_complete] [bit] NOT NULL,
	[payment_method_id] [int] NOT NULL,
	[discount_id] [int] NOT NULL,
	[delivery_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_combo_item]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_combo_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[combo_menu_id] [int] NULL,
	[price] [float] NOT NULL,
	[amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_discount]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_discount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](40) NOT NULL,
	[discount_percent] [float] NOT NULL,
	[point_cost] [int] NOT NULL,
 CONSTRAINT [PK_discount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_food_item]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_food_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[food_id] [int] NULL,
	[price] [float] NOT NULL,
	[amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_method]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_method](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](10) NULL,
 CONSTRAINT [PK_payment_method] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] NOT NULL,
	[role_name] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 9.6.2026. 20:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](30) NOT NULL,
	[email] [nvarchar](30) NOT NULL,
	[firstname] [nvarchar](20) NOT NULL,
	[lastname] [nvarchar](20) NOT NULL,
	[role_id] [int] NOT NULL,
	[points] [int] NOT NULL,
	[password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[combo_menu] ON 

INSERT [dbo].[combo_menu] ([id], [name], [discount_percent], [is_visible], [price], [image_path]) VALUES (1, N'Soup combo', 15, 1, 300, N'/Images/Food/4b6b15aa-2789-4fb2-a8c6-a25da7382444_variety-of-soups.jpg')
INSERT [dbo].[combo_menu] ([id], [name], [discount_percent], [is_visible], [price], [image_path]) VALUES (3, N'Combo package #2', 15, 1, 4000, NULL)
SET IDENTITY_INSERT [dbo].[combo_menu] OFF
GO
SET IDENTITY_INSERT [dbo].[combo_menu_item] ON 

INSERT [dbo].[combo_menu_item] ([id], [food_id], [combo_menu_id], [amount]) VALUES (1, 1, 1, 2)
INSERT [dbo].[combo_menu_item] ([id], [food_id], [combo_menu_id], [amount]) VALUES (2, 2, 1, 2)
INSERT [dbo].[combo_menu_item] ([id], [food_id], [combo_menu_id], [amount]) VALUES (3, 3, 1, 30)
SET IDENTITY_INSERT [dbo].[combo_menu_item] OFF
GO
SET IDENTITY_INSERT [dbo].[delivery_method] ON 

INSERT [dbo].[delivery_method] ([id], [name], [price]) VALUES (1, N'Takeout', 0)
INSERT [dbo].[delivery_method] ([id], [name], [price]) VALUES (2, N'Delivery', 500)
SET IDENTITY_INSERT [dbo].[delivery_method] OFF
GO
SET IDENTITY_INSERT [dbo].[food] ON 

INSERT [dbo].[food] ([id], [name], [unit_of_measurement], [food_category_id], [is_visible], [ingredients], [price], [discount_percent], [image_path]) VALUES (1, N'Juneća supa', N'Tanjir', 1, 1, N'Junetina', 30, 0, N'/Images/Food/Supe i čorbe/juneca supa.jpg')
INSERT [dbo].[food] ([id], [name], [unit_of_measurement], [food_category_id], [is_visible], [ingredients], [price], [discount_percent], [image_path]) VALUES (2, N'Pileća supa', N'Tanjir', 1, 1, N'Piletina', 20, 0, N'/Images/Food/Supe i čorbe/domaca pileca supa.jpg')
INSERT [dbo].[food] ([id], [name], [unit_of_measurement], [food_category_id], [is_visible], [ingredients], [price], [discount_percent], [image_path]) VALUES (3, N'Teleća supa', N'Tanjir', 1, 1, N'Teletina', 25, 0, N'/Images/Food/Supe i čorbe/teleca supa.jpg')
SET IDENTITY_INSERT [dbo].[food] OFF
GO
SET IDENTITY_INSERT [dbo].[food_category] ON 

INSERT [dbo].[food_category] ([id], [name], [discount_percent]) VALUES (1, N'Čorbe i supe', 0)
INSERT [dbo].[food_category] ([id], [name], [discount_percent]) VALUES (2, N'Hleb i peciva', 0)
INSERT [dbo].[food_category] ([id], [name], [discount_percent]) VALUES (3, N'Torte i kolači', 0)
SET IDENTITY_INSERT [dbo].[food_category] OFF
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [user_id], [date_created], [date_completed], [delivery_location], [price], [price_with_discount], [is_complete], [payment_method_id], [discount_id], [delivery_id]) VALUES (1, 3, CAST(N'2022-09-18T06:13:51.823' AS DateTime), CAST(N'2022-09-20T05:59:41.410' AS DateTime), N'Takeout', 440, 440, 1, 1, 1, 1)
INSERT [dbo].[order] ([id], [user_id], [date_created], [date_completed], [delivery_location], [price], [price_with_discount], [is_complete], [payment_method_id], [discount_id], [delivery_id]) VALUES (2, 3, CAST(N'2022-09-19T04:43:25.750' AS DateTime), NULL, N'Takeout', 300, 770, 0, 1, 2, 1)
INSERT [dbo].[order] ([id], [user_id], [date_created], [date_completed], [delivery_location], [price], [price_with_discount], [is_complete], [payment_method_id], [discount_id], [delivery_id]) VALUES (5, 4, CAST(N'2022-09-22T04:49:26.273' AS DateTime), NULL, N'Takeout', 370, 370, 0, 2, 1, 2)
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[order_combo_item] ON 

INSERT [dbo].[order_combo_item] ([id], [order_id], [combo_menu_id], [price], [amount]) VALUES (1, 7, 1, 2500, 1)
INSERT [dbo].[order_combo_item] ([id], [order_id], [combo_menu_id], [price], [amount]) VALUES (2, 7, 3, 3400, 1)
INSERT [dbo].[order_combo_item] ([id], [order_id], [combo_menu_id], [price], [amount]) VALUES (3, 16, 3, 3400, 6)
SET IDENTITY_INSERT [dbo].[order_combo_item] OFF
GO
SET IDENTITY_INSERT [dbo].[order_discount] ON 

INSERT [dbo].[order_discount] ([id], [name], [discount_percent], [point_cost]) VALUES (1, N'No discount (0%)', 0, 0)
INSERT [dbo].[order_discount] ([id], [name], [discount_percent], [point_cost]) VALUES (2, N'Standard discount (10%)', 10, 10)
INSERT [dbo].[order_discount] ([id], [name], [discount_percent], [point_cost]) VALUES (3, N'Regulars discount (25%)', 25, 25)
SET IDENTITY_INSERT [dbo].[order_discount] OFF
GO
SET IDENTITY_INSERT [dbo].[order_food_item] ON 

INSERT [dbo].[order_food_item] ([id], [order_id], [food_id], [price], [amount]) VALUES (1, 1, 1, 30, 8)
INSERT [dbo].[order_food_item] ([id], [order_id], [food_id], [price], [amount]) VALUES (2, 1, 2, 20, 10)
INSERT [dbo].[order_food_item] ([id], [order_id], [food_id], [price], [amount]) VALUES (3, 2, 1, 30, 10)
SET IDENTITY_INSERT [dbo].[order_food_item] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_method] ON 

INSERT [dbo].[payment_method] ([id], [type]) VALUES (1, N'Cash')
INSERT [dbo].[payment_method] ([id], [type]) VALUES (2, N'Credit')
INSERT [dbo].[payment_method] ([id], [type]) VALUES (3, N'Cheque')
SET IDENTITY_INSERT [dbo].[payment_method] OFF
GO
INSERT [dbo].[role] ([id], [role_name]) VALUES (1, N'User')
INSERT [dbo].[role] ([id], [role_name]) VALUES (2, N'Manager')
INSERT [dbo].[role] ([id], [role_name]) VALUES (3, N'Admin')
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [username], [email], [firstname], [lastname], [role_id], [points], [password]) VALUES (1, N'lukap99', N'lukap99@live.com', N'Luka', N'Popovic', 3, 99999, N'123')
INSERT [dbo].[user] ([id], [username], [email], [firstname], [lastname], [role_id], [points], [password]) VALUES (2, N'marko99', N'marko99@gmail.com', N'Marko', N'Markovic', 2, 555, N'123')
INSERT [dbo].[user] ([id], [username], [email], [firstname], [lastname], [role_id], [points], [password]) VALUES (3, N'stefan99', N'stefan99@gmail.com', N'Stefan', N'Stefic', 1, 442, N'123')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
/****** Object:  Index [IX_combo_menu_item_combo_menu_id]    Script Date: 9.6.2026. 20:27:21 ******/
CREATE NONCLUSTERED INDEX [IX_combo_menu_item_combo_menu_id] ON [dbo].[combo_menu_item]
(
	[combo_menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_user_id]    Script Date: 9.6.2026. 20:27:21 ******/
CREATE NONCLUSTERED INDEX [IX_order_user_id] ON [dbo].[order]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_food_item_order_id]    Script Date: 9.6.2026. 20:27:21 ******/
CREATE NONCLUSTERED INDEX [IX_order_food_item_order_id] ON [dbo].[order_food_item]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[combo_menu] ADD  CONSTRAINT [DF_combo_menu_discount_percent]  DEFAULT ((0)) FOR [discount_percent]
GO
ALTER TABLE [dbo].[combo_menu] ADD  CONSTRAINT [DF_combo_menu_is_visible]  DEFAULT ((0)) FOR [is_visible]
GO
ALTER TABLE [dbo].[combo_menu] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[combo_menu_item] ADD  DEFAULT ((1)) FOR [amount]
GO
ALTER TABLE [dbo].[food] ADD  CONSTRAINT [DF_food_is_visible]  DEFAULT ((0)) FOR [is_visible]
GO
ALTER TABLE [dbo].[food] ADD  DEFAULT ((0)) FOR [discount_percent]
GO
ALTER TABLE [dbo].[food] ADD  CONSTRAINT [DF_food_image_path]  DEFAULT (N'/Images/no_image.png') FOR [image_path]
GO
ALTER TABLE [dbo].[food_category] ADD  CONSTRAINT [DF_food_category_discount_percent]  DEFAULT ((0)) FOR [discount_percent]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ('Preuzimanje') FOR [delivery_location]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [is_complete]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_delivery_id]  DEFAULT ((1)) FOR [delivery_id]
GO
ALTER TABLE [dbo].[order_combo_item] ADD  DEFAULT ((1)) FOR [amount]
GO
ALTER TABLE [dbo].[order_food_item] ADD  DEFAULT ((1)) FOR [amount]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [points]
GO
ALTER TABLE [dbo].[combo_menu_item]  WITH CHECK ADD  CONSTRAINT [FK_combo_menu_item_combo_menu] FOREIGN KEY([combo_menu_id])
REFERENCES [dbo].[combo_menu] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[combo_menu_item] CHECK CONSTRAINT [FK_combo_menu_item_combo_menu]
GO
ALTER TABLE [dbo].[combo_menu_item]  WITH CHECK ADD  CONSTRAINT [FK_combo_menu_item_food] FOREIGN KEY([food_id])
REFERENCES [dbo].[food] ([id])
GO
ALTER TABLE [dbo].[combo_menu_item] CHECK CONSTRAINT [FK_combo_menu_item_food]
GO
ALTER TABLE [dbo].[food]  WITH CHECK ADD  CONSTRAINT [FK__food__food_categ__5BE2A6F2] FOREIGN KEY([food_category_id])
REFERENCES [dbo].[food_category] ([id])
GO
ALTER TABLE [dbo].[food] CHECK CONSTRAINT [FK__food__food_categ__5BE2A6F2]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_delivery_method] FOREIGN KEY([delivery_id])
REFERENCES [dbo].[delivery_method] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_delivery_method]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_discount] FOREIGN KEY([discount_id])
REFERENCES [dbo].[order_discount] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_discount]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_payment_method] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_method] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_payment_method]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_user]
GO
ALTER TABLE [dbo].[order_combo_item]  WITH CHECK ADD FOREIGN KEY([combo_menu_id])
REFERENCES [dbo].[combo_menu] ([id])
GO
ALTER TABLE [dbo].[order_combo_item]  WITH CHECK ADD  CONSTRAINT [FK_orderComboItem_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_combo_item] CHECK CONSTRAINT [FK_orderComboItem_order]
GO
ALTER TABLE [dbo].[order_food_item]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[food] ([id])
GO
ALTER TABLE [dbo].[order_food_item]  WITH CHECK ADD  CONSTRAINT [FK_orderFoodItem_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_food_item] CHECK CONSTRAINT [FK_orderFoodItem_order]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_role]
GO
ALTER TABLE [dbo].[combo_menu]  WITH CHECK ADD  CONSTRAINT [CK_comboMenu_discountRange] CHECK  (([discount_percent]>=(0) AND [discount_percent]<=(100)))
GO
ALTER TABLE [dbo].[combo_menu] CHECK CONSTRAINT [CK_comboMenu_discountRange]
GO
ALTER TABLE [dbo].[combo_menu]  WITH CHECK ADD  CONSTRAINT [CK_comboMenu_priceIsPositive] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[combo_menu] CHECK CONSTRAINT [CK_comboMenu_priceIsPositive]
GO
ALTER TABLE [dbo].[combo_menu_item]  WITH CHECK ADD  CONSTRAINT [CK_combo_menu_item_amountLargerThanZero] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[combo_menu_item] CHECK CONSTRAINT [CK_combo_menu_item_amountLargerThanZero]
GO
ALTER TABLE [dbo].[food]  WITH CHECK ADD  CONSTRAINT [CK_food_discount_between_0_and_100] CHECK  (([discount_percent]>=(0) AND [discount_percent]<=(100)))
GO
ALTER TABLE [dbo].[food] CHECK CONSTRAINT [CK_food_discount_between_0_and_100]
GO
ALTER TABLE [dbo].[food]  WITH CHECK ADD  CONSTRAINT [price_is_positive] CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[food] CHECK CONSTRAINT [price_is_positive]
GO
ALTER TABLE [dbo].[food_category]  WITH CHECK ADD  CONSTRAINT [CK_food_category] CHECK  (([discount_percent]>=(0) AND [discount_percent]<=(100)))
GO
ALTER TABLE [dbo].[food_category] CHECK CONSTRAINT [CK_food_category]
GO
ALTER TABLE [dbo].[order_combo_item]  WITH CHECK ADD  CONSTRAINT [CK_order_combo_item_amountLargerThanZero] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[order_combo_item] CHECK CONSTRAINT [CK_order_combo_item_amountLargerThanZero]
GO
ALTER TABLE [dbo].[order_food_item]  WITH CHECK ADD  CONSTRAINT [CK_order_food_item_amountLargerThanZero] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[order_food_item] CHECK CONSTRAINT [CK_order_food_item_amountLargerThanZero]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Combo discount cannot exceed 100%' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'combo_menu', @level2type=N'CONSTRAINT',@level2name=N'CK_comboMenu_discountRange'
GO
USE [master]
GO
